@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:1279px) {

    body {
        background-image: linear-gradient(to bottom, #618C20);
    }
    
    section#login {
        width: 80vw;
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;

    }

    div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width:1280px) {

    body {
        background-image: linear-gradient(to bottom, #618C20, #2A5908, #154001);
    }

    section#login {
        width: 90vw;
    }

    div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario {
        float: right;
        width: 50%;
    }

}




