@charset "UTF-8";

/* Paleta de Cores
 #618C20                 
 #2A5908                  
 #154001                  
 #010D00
*/



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #2A5908;
}

main {
    width: 100vw;
    height: 100vh;
}

section#login {
    background-color: white;
    width: 300px;
    height: 540px;
    border-radius: 20px;
    overflow: hidden;
    transition: .3s;
    transition-timing-function: ease;
    box-shadow: 0px 0px 30px  #000000b8 ;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

div#imagem {
    background-image: url(../imagens/pexels-fotios-photos-2473990.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 200px;
    display: block;
}

div#formulario {
    padding: 10px;
    text-align: justify;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div.campo {
    background-color:  #154001;
    border-radius: 10px;
    margin: 3px 0px;
    height: 41px;

}

div.campo > img {
    font-size: 2em;
    width: 40px;
    transform: translateX(2px);
}

div.campo > input {
    width: calc(100% - 47px);
    height: 35px;
    transform:translateY(-13px);
    border-radius: 10px;
    border: 0px;
    padding: 10px;
    font-size: 1em;
    outline: none;
    background-color: #6aff0096;
    
}

div.campo > input::placeholder {
    color: #1b5600;
    font-weight: bolder;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin: 5px 0px;
    background-color: #960041;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid black;
}

form > input[type=submit]:hover {
    background-color: #740032;
}

form > a.botao {
    width: 100%;
    text-align: center;
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    padding-top: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

form > a.botao:hover {
    background-color: #553443;
    color: white;
}

form > a > span {
    transform: translateY(6px);
}


